{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>Edit Additional User Data</title>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="border-bottom" style="margin-bottom: 5px">
            <h2 class="text-center">Edit your additional account information:</h2>
        </div>
        <form method="POST" action="{% url 'edit user' user.id %}" enctype="multipart/form-data">
            <div class="form-group">
                {{ form }}

                {% if user_profile_pic %}
                    <img src="{{ user_profile_pic }}" alt="User's Profile Picture" style="height: 50px"/>
                {% else %}
                    <img src="{% static 'img/default_avatar.png' %}" alt="No Profile Picture" style="height: 50px"/>
                {% endif %}

                {{ extend_form.as_p }}
                {% csrf_token %}
                <div class="text-center">
                    <h6>(No fields are mandatory)</h6>
                    <button class="btn btn-primary">Submit</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}