{% extends 'base.html' %}

{% block title %}
    <title>Login for Registered Users</title>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="border-bottom" style="margin-bottom: 5px">
            <h2 class="text-center">Login with your user account credentials:</h2>
        </div>
        <form method="POST" action="{% url 'login user' %}">
            <div class="form-group">
                {{ form }}
                {% csrf_token %}
                <div class="text-center">
                    <h6 class="text-danger">(All fields are mandatory)</h6>
                    <button class="btn btn-primary">Submit</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}