{% extends 'base.html' %}

{% block title %}
    <title>Create New Blog User</title>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="border-bottom" style="margin-bottom: 5px">
            <h2 class="text-center">Create your new user account:</h2>
        </div>
        <form method="POST" action="{% url 'register user' %}">
            <div class="form-group">
                {{ form }}
                {% csrf_token %}
                <div class="text-center">
                    <h6 class="text-danger">(All fields are mandatory. "Username" can not be changed in future)</h6>
                    <button class="btn btn-primary">Submit</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}