{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>User Details</title>
{% endblock %}

{% block content %}
    <div class="container text-center">
        <div class="border-bottom" style="margin-bottom: 5px">
            {% if user.id == user_profile.id %}
                <h2>Your account data:</h2>
            {% else %}
                <h2>{{ user_profile.username }}'s account data:</h2>
            {% endif %}
        </div>

        {% if user_profile_pic %}
            <img src="{{ user_profile_pic }}" alt="User's Profile Picture" style="height: 100px"/>
        {% else %}
            <img src="{% static 'img/default_avatar.png' %}" alt="No Profile Picture" style="height: 100px"/>
        {% endif %}

        <p><strong>User name:</strong> {{ user_profile.username }}</p>
        <p><strong>First name:</strong> {{ user_profile.first_name }}</p>
        <p><strong>Last name:</strong> {{ user_profile.last_name }}</p>
        <p><strong>Email:</strong> {{ user_profile.email }}</p>
        <small><strong>Registered date, time:</strong> {{ user_profile.date_joined }}</small>
        <p><small><strong>Last login date, time:</strong> {{ user_profile.last_login }}</small></p>
        <div class=" border-bottom">
            {% if user.id == user_profile.id %}
                <a href="{% url 'edit user' user.id %}" class="form-group btn btn-primary">Edit Account Details</a>
            {% endif %}
        </div>
        {% if other_users_list %}
            <h3>Other users list:</h3>
            <ol class="container text-center">
                {% for user in other_users_list %}
                    <li>
                        <a href="{% url 'user details' user.id %}">{{ user.username }}</a>
                    </li>
                {% endfor %}
            </ol>
        {% endif %}
    </div>
{% endblock %}