{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>{{ article.title }}</title>
{% endblock %}

{% block content %}
    <div class="container text-center">
        <div class="border-bottom" style="padding-top: 10px; padding-bottom: 10px">
            <div class="form-group bg-secondary" style="color: black">
                <h3>{{ article.title }}</h3>
                <small><strong>Author:</strong> {{ article.user.username }}</small>
            </div>
            {% if article_pic %}
                <img src="{{ article_pic }}" class="figure-img img-fluid rounded" alt="Article's Picture"
                     style="height: 300px">
            {% endif %}

            <div class="text-justify">{{ article.content|linebreaks }}</div>
            <div class="text-lg-right">
                <small><strong>Date, time published:</strong> {{ article.date_created }}</small>

                {% if article.last_modified.date != article.date_created.date or article.last_modified.minute != article.date_created.minute %}
                    <small><strong>Date, time edited:</strong> {{ article.last_modified }}</small>
                {% endif %}

            </div>
            <div class="text-lg-right">
                <small><strong>Raring for this article:</strong> {{ article_rating }} </small>
            </div>

            {% if user.is_authenticated %}

                {% if user.id == article.user.id %}
                    <a href="{% url 'edit article' article.id %}" class="form-group btn btn-primary">Edit Article</a>
                    <a href="{% url 'confirm delete article' article.id %}" class="form-group btn btn-secondary">Delete
                        Article</a>
                {% else %}

                    {% if user_can_like %}
                        <a href="{% url 'like article' article.id %}" class="form-group btn btn-sm btn-info">Like</a>
                        <a href="{% url 'dislike article' article.id %}" class="form-group btn btn-sm btn-danger">Dislike</a>
                    {% else %}
                        <div class="text-info">You have been voted for this article.</div>
                    {% endif %}

                {% endif %}

            {% endif %}
        </div>
        <div class="form-group border-bottom" style="padding-top: 10px; padding-bottom: 10px">
            <h3>Comments for "{{ article.title }}" article:</h3>

            {% if comments_list %}
                <ul>

                    {% for comment in comments_list %}
                        <li class="text-justify">
                            <div class="form-group border-top">
                                <small><strong>Comment from:</strong> {{ comment.user.username }}</small>
                            </div>
                            <div class="form-group">{{ comment.comment|linebreaks }}</div>
                            <div class="form-group">
                                <small><strong>Date, time commented:</strong> {{ comment.date_created }}</small>

                                {% if comment.last_modified.date != comment.date_created.date or comment.last_modified.minute != comment.date_created.minute %}
                                    <small><strong>Date, time edited:</strong> {{ comment.last_modified }}</small>
                                {% endif %}

                            </div>
                            <div style="padding-bottom: 10px">

                                {% if user.is_authenticated and user.id == comment.user.id %}
                                    <a href="{% url 'edit comment' comment.id %}" class="btn btn-sm btn-primary">Edit
                                        Comment</a>
                                    <a href="{% url 'delete comment' comment.id %}"
                                       class="btn btn-sm btn-danger">Delete Comment</a>
                                {% endif %}

                            </div>
                        </li>
                    {% endfor %}

                </ul>

            {% else %}
                No comments for this article.
            {% endif %}

        </div>

        {% if user.is_authenticated %}
            <form method="POST" action="{% url 'show article' article.id article.slug %}">
                <div class="form-group border-bottom" style="padding-bottom: 10px">
                    {{ comment_form }}
                    {% csrf_token %}
                    <div class="text-center">
                        <button class="btn btn-secondary">Submit Comment</button>
                    </div>
                </div>
            </form>
        {% endif %}

        <h3>Other articles list:</h3>
        <ol class="container text-center">

            {% for other_article in other_articles_list %}
                <li>
                    <a href="{% url 'show article' other_article.id article.slug %}"
                       style="color: black">{{ other_article.title }}</a>
                </li>
            {% endfor %}
        </ol>
    </div>
{% endblock %}