{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>Delete {{ article.title }}</title>
{% endblock %}

{% block content %}
    <div class="container text-center">
        <h2>You are about to DELETE this article:</h2>
        <div class="border-bottom" style="padding-top: 10px; padding-bottom: 10px">
            <div class="form-group bg-secondary" style="color: black">
                <h3>{{ article.title }}</h3>
                <small><strong>Author:</strong> {{ article.user.username }}</small>
            </div>

            {% if article_pic %}
                <img src="{{ article_pic }}" class="figure-img img-fluid rounded" alt="Article's Picture"
                     style="height: 300px">
            {% endif %}

            <div class="text-justify">{{ article.content|linebreaks }}</div>
            <div class="text-lg-right">
                <small><strong>Date published:</strong> {{ article.date_created }}</small>
                {% if article.last_modified.date != article.date_created.date or article.last_modified.minute != article.date_created.minute %}
                    <small><strong>Date edited:</strong> {{ article.last_modified }}</small>
                {% endif %}
            </div>

            {% if user.is_authenticated and user.id == article.user.id %}
                <h6 class="text-danger">(Think again before clicking this button)</h6>
                <a href="{% url 'delete article' article.id %}" class="form-group btn btn-danger">Confirm Delete</a>
            {% endif %}
        </div>
    </div>
{% endblock %}