{% extends 'base.html' %}

{% block title %}
    <title>Create New Blog Article</title>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="border-bottom" style="margin-bottom: 5px">
            <h2 class="text-center">Create a new article:</h2>
        </div>
        <form method="POST" action="{% url 'create article' %}" enctype="multipart/form-data">
            <div class="form-group">
                {{ form }}
                {% csrf_token %}
                <div class="text-center">
                    <h6 class="text-danger">("Title" & "Content" fields are mandatory. "Title" can not be changed in
                        future)</h6>
                    <button class="btn btn-secondary">Submit</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}