{% extends 'base.html' %}

{% block title %}
    <title>Edit Your Article</title>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="border-bottom" style="margin-bottom: 5px">
            <h2 class="text-center">Edit "{{ article.title }}" article:</h2>
        </div>
        <form method="POST" action="{% url 'edit article' article.id %}" enctype="multipart/form-data">
            <div class="form-group">
                {{ form.as_p }}

                {% if article_pic %}
                    Current article pic:
                    <div class="">
                        <img src="{{ article_pic }}" alt="Article Picture" style="height: 100px"/>
                    </div>
                {% endif %}

                {% csrf_token %}
                <div class="text-center">
                    <button class="btn btn-secondary">Submit</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}