{% extends 'base.html' %}

{% block title %}
    <title>Your Articles</title>
{% endblock %}

{% block content %}
    <div class="container form-group" style="padding-top: 10px; padding-bottom: 10px">
        <h2 class="text-center">All your articles:</h2>

        {% if articles %}

            {% for article in articles %}
                <a href="{% url 'show article' article.id article.slug %}" style="text-decoration: none; color: black">
                    <div class="form-group text-center bg-secondary">
                        <h3>{{ article.title }}</h3>
                        <small><strong>Author:</strong> {{ article.user.username }}</small>
                    </div>

                    {% if article.content|length > 600 %}
                        <div class="text-justify">{{ article.content|slice:"597"|add:'...'|linebreaks }}</div>
                    {% else %}
                        <div class="text-justify">{{ article.content|linebreaks }}</div>
                    {% endif %}

                    <div class="text-lg-right border-bottom">
                        <small><strong>Date, time published:</strong> {{ article.date_created }}</small>
                        {% if article.last_modified.date != article.date_created.date or article.last_modified.minute != article.date_created.minute %}
                            <small><strong>Date, time edited:</strong> {{ article.last_modified }}</small>
                        {% endif %}
                    </div>
                </a>
            {% endfor %}

        {% else %}
            <h3 class="form-group border-top text-center">You have no articles to show...</h3>
        {% endif %}

    </div>
{% endblock %}