{% load static %}

<nav class="container navbar navbar-expand-md sticky-top navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNav"
            aria-controls="mainNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mainNav">
        <a href="{% url 'index page' %}"><img src="{% static 'img/favicon.ico' %}" height="25" alt="S.P. Blog"></a>

        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item navbar-text text-primary">
                <small style="margin-left: 5px">{% now 'D, M. d' %}</small>
            </li>
            <li class="nav-item{% if "/" == request.path %} active{% endif %}">
                <a class="nav-link" href="{% url 'index page' %}">All Articles{% if "/" == request.path %}
                    <span class="sr-only">(current)</span>{% endif %}</a>
            </li>

            {% if user.is_authenticated %}
                <li class="nav-item{% if "/articles/yours/" in request.path %} active{% endif %}">
                    <a class="nav-link" href="{% url 'your articles' user.id %}">Your Articles
                        {% if "/articles/yours/" in request.path %}
                            <span class="sr-only">(current)</span>{% endif %}</a>
                </li>
                <li class="nav-item{% if "/users/show/" in request.path %} active{% endif %}">
                    <a class="nav-link" href="{% url 'user details' user.id %}">Users Details
                        {% if "/users/show/" in request.path %}
                            <span class="sr-only">(current)</span>{% endif %}</a>
                </li>
            {% endif %}

            {% if user.is_superuser %}
                <li class="nav-item">
                    <a class="nav-link text-info" href="{% url 'admin:index' %}">Admin Panel</a>
                </li>
            {% endif %}

            <li class="nav-item{% if "about/" in request.path %} active{% endif %}">
                <a class="nav-link" href="{% url 'about page' %}">About{% if "about/" in request.path %}
                    <span class="sr-only">(current)</span>{% endif %}</a>
            </li>

            {#            <li class="nav-item">#}
            {#                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>#}
            {#            </li>#}

        </ul>

        {#        <form class="form-inline my-2 my-lg-0">#}
        {#            <input class="form-control mr-sm-2" type="search" placeholder="Type your search here" aria-label="Search">#}
        {#            <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Search</button>#}
        {#        </form>#}

        <div class="form-inline my-2 my-lg-0">
            {% if not request.user.is_authenticated %}
                <a href="{% url 'register user' %}" class="btn btn-sm btn-secondary my-2 my-sm-0"
                   style="margin-right: 5px" type="submit">Register</a>
                <a href="{% url 'login user' %}" class="btn btn-sm btn-primary my-2 my-sm-0" type="submit">Login</a>
            {% else %}
                <div class="text-light" style="margin-right: 5px">
                    {% if user.is_superuser %}
                        <small><a href="{% url 'user details' user.id %}">Hello, Master!</a></small>
                    {% else %}
                        <small>Logged as: <a href="{% url 'user details' user.id %}">{{ user.username }}</a></small>
                    {% endif %}
                </div>
                <a href="{% url 'create article' %}" class="btn btn-sm btn-primary my-2 my-sm-0"
                   style="margin-right: 5px" type="submit">Create Article</a>
                <a href="{% url 'logout user' %}" class="btn btn-sm btn-secondary my-2 my-sm-0"
                   type="submit">Logout</a>
            {% endif %}
        </div>
    </div>
</nav>