{% extends 'base.html' %}

{% block title %}
    <title>Edit You Comment</title>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="border-bottom" style="margin-bottom: 5px">
            <h2 class="text-center">Edit your comment:</h2>
        </div>
        <form method="POST" action="{% url 'edit comment' comment.id %}">
            <div class="form-group">
                {{ form }}
                {% csrf_token %}
                <div class="text-center">
                    <button class="btn btn-secondary">Submit</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}