{% extends 'base.html' %}

{% block title %}
    <title>Error 400</title>
{% endblock %}

{% block content %}
    <div class="container text-center">
        <h1>400 Bad Request</h1>
        <p>The server can not process the request.</p>
    </div>
{% endblock %}