{% extends 'base.html' %}

{% block title %}
    <title>Error 403</title>
{% endblock %}

{% block content %}
    <div class="container text-center">
        <h1>403 Forbidden</h1>
        <p>The server refused to authorize the request.</p>
    </div>
{% endblock %}