{% extends 'base.html' %}

{% block title %}
    <title>Error 404</title>
{% endblock %}

{% block content %}
    <div class="container text-center">
        <h1>404 Not Found</h1>
        <p>The requested resource was not found on this server.</p>
    </div>
{% endblock %}