{% extends 'base.html' %}

{% block title %}
    <title>Error 500</title>
{% endblock %}

{% block content %}
    <div class="container text-center">
        <h1>500 Internal Server Error</h1>
        <p>The server encountered an unexpected condition.</p>
    </div>
{% endblock %}