{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>About</title>
{% endblock %}

{% block content %}
    <div class="container form-group" style="padding-top: 10px; padding-bottom: 10px">
        <h1 class="code-line" data-line-start="0" data-line-end="1"><a id="A_Small_Personal_Blog_Project_0"></a>A Small
            Personal
            Blog Project</h1>
        <h3 class="code-line" data-line-start="2" data-line-end="3"><a id="Powered_by_2"></a>Powered by:</h3>
        <p class="has-line-data" data-line-start="3" data-line-end="4"><a href="https://www.djangoproject.com/"><img
                src="{% static 'img/django.png' %}" alt="Django"></a></p>
        <p class="has-line-data" data-line-start="5" data-line-end="6">This is a small project with basic blog
            functionalities
            as:</p>
        <ul>
            <li class="has-line-data" data-line-start="7" data-line-end="8">Registering users;</li>
            <li class="has-line-data" data-line-start="8" data-line-end="9">Management of registered user’s personal
                info;
            </li>
            <li class="has-line-data" data-line-start="9" data-line-end="10">Articles publishing for registered users;
            </li>
            <li class="has-line-data" data-line-start="10" data-line-end="11">Management of published articles for
                registered
                users;
            </li>
            <li class="has-line-data" data-line-start="11" data-line-end="12">Comments for articles for registered users
                with
                edit/delete options;
            </li>
            <li class="has-line-data" data-line-start="12" data-line-end="13">Likes/Dislikes for articles from registered
                users
                and corresponding ratings;
            </li>
            <li class="has-line-data" data-line-start="13" data-line-end="14">Public access to view/read all articles;
            </li>
            <li class="has-line-data" data-line-start="14" data-line-end="16">etc.</li>
        </ul>
        <p class="has-line-data" data-line-start="16" data-line-end="17">You can also:</p>
        <ul>
            <li class="has-line-data" data-line-start="17" data-line-end="18">Upload some user/article pictures;</li>
            <li class="has-line-data" data-line-start="18" data-line-end="20">Collaborate to extend project code with a
                brand new
                features.
            </li>
        </ul>
        <blockquote>
            <p class="has-line-data" data-line-start="20" data-line-end="22">This is my first Django web app effort from
                scratch. It has many flaws in structure and so on,<br>
                but the idea was purely for education purpose.</p>
        </blockquote>
        <h3 class="code-line" data-line-start="23" data-line-end="24"><a id="Used_Tech_23"></a>Used Tech:</h3>
        <p class="has-line-data" data-line-start="25" data-line-end="26">To make this project work properly I’ve
            used:</p>
        <ul>
            <li class="has-line-data" data-line-start="27" data-line-end="28"><a
                    href="https://www.python.org/downloads/release/python-386/">Python 3.8.6</a> - A popular
                programming
                language with a beautiful syntax!
            </li>
            <li class="has-line-data" data-line-start="28" data-line-end="29"><a href="https://www.djangoproject.com/">Django
                3.1</a> - A Python-based free and open-source web framework.
            </li>
            <li class="has-line-data" data-line-start="29" data-line-end="30"><a href="https://getbootstrap.com/">Twitter
                Bootstrap</a> - good enough looking UI css templates for modern web apps.
            </li>
            <li class="has-line-data" data-line-start="30" data-line-end="31"><a
                    href="https://www.jetbrains.com/pycharm/">PyCharm
                Pro 2020.3</a> - IDE used in computer programming, specifically for the Python language.
            </li>
            <li class="has-line-data" data-line-start="31" data-line-end="32"><a href="https://lubuntu.me/">Lubuntu
                20.10</a> -
                Ubuntu based lightweight Linux distribution.
            </li>
            <li class="has-line-data" data-line-start="32" data-line-end="34"><a
                    href="https://about.gitlab.com/">GitLab</a> -
                Software FREEDOM!
            </li>
        </ul>
        <h3 class="code-line" data-line-start="34" data-line-end="35"><a id="Usage_34"></a>Usage:</h3>
        <p class="has-line-data" data-line-start="36" data-line-end="37">This blog-project may be uploaded to <a
                href="https://www.heroku.com/">Heroku</a> for real usage some day… but not today :)</p>
        <h3 class="code-line" data-line-start="38" data-line-end="39"><a id="Project_Dependencies_38"></a>Project
            Dependencies:
        </h3>
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th>Plugin</th>
                <th>Version</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>asgiref</td>
                <td>3.3.1</td>
            </tr>
            <tr>
                <td>Django</td>
                <td>3.1.4</td>
            </tr>
            <tr>
                <td>Pillow</td>
                <td>8.0.1</td>
            </tr>
            <tr>
                <td>pytz</td>
                <td>2020.4</td>
            </tr>
            <tr>
                <td>sqlparse</td>
                <td>0.4.1</td>
            </tr>
            </tbody>
        </table>
        <h3 class="code-line" data-line-start="48" data-line-end="49"><a id="Todos_48"></a>Todos:</h3>
        <ul>
            <li class="has-line-data" data-line-start="50" data-line-end="51">Write some tests;</li>
            <li class="has-line-data" data-line-start="51" data-line-end="52">Add new functionalities;</li>
            <li class="has-line-data" data-line-start="52" data-line-end="54">Write new interactive UI…</li>
        </ul>
        <h2 class="code-line" data-line-start="54" data-line-end="56"><a id="License_54"></a>License:</h2>
        <p class="has-line-data" data-line-start="57" data-line-end="58">GNU 3</p>
        <p class="has-line-data" data-line-start="59" data-line-end="60"><strong>FOSS 4 life!</strong></p>
    </div>
{% endblock %}
