{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="icon" href="{% static 'img/favicon.ico' %}">

    {% block title %}
        <title>S.P. Django Blog Project</title>
    {% endblock %}
</head>

<body>
{% include 'common/header.html' %}

<div class="container bg-light" style="padding-bottom: 1px">
    {% block content %}
        <h3 class="text-center">No content...</h3>
    {% endblock %}
</div>

{% include 'common/footer.html' %}

<script src="{% static 'js/jquery-3.5.1.slim.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>